main {
  justify-content: flex-start;
  padding: 4rem 5rem;
}

.contenedor-izq {
  height: 40rem;
  justify-content: space-around;
}

.input-texto {
  width: 85%;
  height: 75%;
  font-size: 1.8rem;
  margin-top: 3rem;
}

.contenedor-btns {
  flex-direction: row;
  margin-top: 3rem;
}

.btn-encriptar {
  margin-right: 2rem;
}

.btn-desencriptar {
  margin-right: 2rem;
}

.contenedor-der {
  height: 26rem;
  box-shadow: 0 4px 4px lightgrey;
}
.contenedor-texto {
  margin-bottom: 15rem;
}
.output-texto {
  font-size: 2rem;
  margin-top: 2rem;
}

footer {
  margin-bottom: 2rem;
}
